//- To use extends, you need the keyword extends and layout
extends layout.pug

block content
  .container
    .row
      h1.header My Pizza Store
      p Welcome to my pizza store.

      include templates/page.pug
