extends layout.pug


//- This tag is needed for pug to plug the html in the layout
block content

  if error
    h4= error

  .container
    form(method='POST').form-horizontal.contact-form
      .form-group
        h1 Register

      .form-group
        label(for='email') Email
      .form-group
        input#email(type='email' name='email' placeholder='Email')

      .form-group
        label(for='password') Password
      .form-group
        input#password(type='password' name='password' placeholder='Password')

      .form-group
        label(for='confirmPassword') Confirm Password
      .form-group
        input#confirmPassword(type='password' name='confirmPassword' placeholder='Password')

      .form-group
        button.btn Cancel
        button.btn(type='submit') Register
